@font-face {
  font-family: "KakaoBold"; /* make font-family */
  src: url("../font/KakaoOTFBold.otf") format("opentype"); /* import font file */
}

/*----------------------------------header : have to remove/change----------------------------------------*/
header.header{
  display:flex;
  position:relative;
  justify-content:flex-end;
  width:100%;
}

header.header>nav{
  width:100%;
  min-height:50px;
  background:red;
}
/*--------------------------------------------------------------------------------------------------------*/
section.sign_in_section{
  display:flex;
  width:100%;
  align-items: center;
  justify-content:center;
  margin:80px 0px;
  /* background:yellow; */
}

div.sign_in_logo{
  display:flex;
  justify-content:center;
  margin-bottom:30px;
}

div.sign_in_logo h1{
  font-size:40px;
  font-weight:800;
}

div.progress{
  margin:40px 0;
  text-align:center;
}

div.progress li{
  font-size:32px;
  font-weight:800;
  margin:0px 20px;
}

div.progress h2.progress_text{
  padding:10px;
}

div.progress h2.progress_text_first{
  background-color:rgb(253, 166, 4);
  padding:10px;
  border-radius:5px;
}

div.help_text{
  margin:10px 0;
  text-align:left;
}

div.help_text span{
  font-size:20px; 
  margin-bottom:20px; 
}

div.check_list{
  font-family:"Noto Sans KR", sans-serif;
}

div.check_list input.check_list_entitle{
  width:18px;
  height:18px;
}

div.check_list span.check_list_entitle_txt{
  font-size:18px;
  margin-left:2px;
}

div.check_list span.check_list_text{
  font-size:0.9rem;
  font-weight:700;
}

div.check_list div.check_list_container{
  display:flex;
  justify-content:space-between;
  width:840px;
  border-top : 2px solid gray;
  border-bottom : 2px solid gray;
  margin:10px 0;
  padding:10px 0;
}

div.check_list_container li{
  display:block;
}

div.check_list_container div.check_list_container_terms{
  width:300px;
  /* background-color:pink; */
}

div.check_list_container_terms input.check_list_terms{
  font-size:20px;
}

div.check_list_container_agree{
  width:100px;
  margin-top:1.7px;
}

div.check_list_container_agree li{
  margin-bottom:3.2px;
}

div.check_list_container_agree a{
  color:#000000;
  font-weight:700;
}

div.check_list_container li>span.essential_red{
  color:red;
}

div.sign_in_btn_list{
  margin:10px;
}

button.sign_in_btn_normal{
  width:190px;
  height:44px;
  border-radius:5px;
  background-color:#545353;
  color:white;
}

/*-------------------------------- part : move to next page ----------------------------------*/
div.sign_in_btn_container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  margin:0 auto;
  margin-top:30px;     /* have to delete */
}

button.sign_in_btn{
  width:200px;
  height:39px;
}

/* normal login */
button.sign_in_btn_normal{
  width:200px;
  height:50px;
  background-color:#000;
  color:#fff;
  border:none;
  padding:10px 20px;
  border-radius:4px;
  cursor:pointer;
  font-size:1rem;
  font-weight:700;
  font-family:"nanum";
}  

/* naver login */
button.sign_in_btn_naver{
  height:50px;
  background-color:#2DB400;
  color:#fff;
  border:none;
  padding:10px 20px;
  border-radius:4px;
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:"Nanum Gothic", sans-serif;
  font-weight:800;
  font-size:0.8rem; 
}

button.sign_in_btn_naver img{
  width:20px;
  margin-right:10px;
}

/* kakao login */
button.sign_in_btn_kakao{
  height:50px;
  background-color:#FFCD00;
  color:#000;
  border:none;
  padding:10px 20px;
  border-radius:4px;
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:"KakaoBold";
  font-weight:800;
  font-size:0.8rem;
}

button.sign_in_btn_kakao img{
  width: 20px;
  margin-right: 10px;
}


