/*----------------------------------------------Adjust to main section : all page---------------------------------------------------*/
section.sign_in_section{
  display:flex;
  width:100%;
  align-items: center;
  justify-content:center;
  margin:160px 0px;
  /* background:yellow; */
}

div.sign_in_logo{
  display:flex;
  justify-content:center;
  margin-bottom:30px;
}

div.sign_in_logo h1{
  font-size:40px;
  font-weight:800;
}

div.progress{
  margin:40px 0;
  text-align:center;
}

div.progress li{
  font-size:32px;
  font-weight:800;
  margin:0px 20px;
}

div.progress h2.progress_text{
  padding:10px;
}

div.progress h2.progress_text_second{
  background-color:rgb(253, 166, 4);
  padding:10px;
  border-radius:5px;
}
/*-------------------------------------------------Adjust to main section : 2nd page-----------------------------------------------------*/
div.help_text{
  margin:20px 30px;
  text-align:left;
}

div.help_text span{
  font-size:23px; 
  margin-bottom:20px; 
}

div.phone_verification{
  display:flex;
  justify-content:center;
  margin-top:30px;
}

div.phone_verification button.phone_verification_btn{
  width:500px;
  height:50px;
  color:#000000;
  padding:10px 20px;
  border:2px solid #BFBFBF;
  border-radius:4px;
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:800;
  font-size:1rem; 
}

button.phone_verification_btn img{
  width:20px;
  margin-right:10px;
}

div.phone_verification_text{
  margin:20px 30px;
  font-size:18px;
}

div.phone_verification_text span{
  font-family:"Noto Sans KR", sans-serif;
  font-weight:800;
}

