/*----------------------------------------Adjust to main section : all page-----------------------------------------*/
section.sign_in_section{
  display:flex;
  width:100%;
  align-items: center;
  justify-content:center;
  margin:100px 0px;
  /* background:yellow; */
}

div.sign_in_logo{
  display:flex;
  justify-content:center;
  margin-bottom:30px;
}

div.sign_in_logo h1{
  font-size:40px;
  font-weight:800;
}

div.progress{
  margin:40px 0;
  text-align:center;
}

div.progress li{
  font-size:32px;
  font-weight:800;
  margin:0px 20px;
}

div.progress h2.progress_text{
  padding:10px;
}

div.progress h2.progress_text_third{
  background-color:rgb(253, 166, 4);
  padding:10px;
  border-radius:5px;
}

div.help_text{
  margin:20px 30px;
  text-align:left;
}

div.help_text span{
  font-size:20px; 
}

/*---------------------------------------------------------------------------*/
div.input_user_information{
  padding-left:80px;
  font-family:"Noto Sans KR", sans-serif;
  /* background-color:yellow; */
}

div.input_user_information_input{
  margin-left:10px;
}

div.input_user_information_input li{
  display:block;
  margin-top:30px;
}

div.input_user_information_input label{
  font-size:20px;
}

div.input_user_information_input span.input_explanation{
  display:block;
  margin:5px 5px;
  font-size:1rem;
  font-weight:700;
}

div.input_user_information label{
  font-weight:800;
}

div.input_user_information span.essential_red{
  color:red;
}

div.input_user_information input{
  width:320px;
  height:35px;
  margin-top:5px;
  border-radius:2px;
}

div.input_user_information label#check_email_text{
  font-size:18px;
}

div.input_user_information input#check_email{
  width:20px;
  height:20px;
}

div.input_user_information span.input_explanation_email{
  margin-left:30px;
}

/*----------------------------login button-------------------------------*/
div.input_user_information_btn{
  text-align:center;
  margin-top:20px;
}

div.input_user_information_btn button.btn_btn{
  width:340px;
  height:50px;
  font-size:1.5rem;
  font-weight:700;
  border-radius:5px;
  cursor:pointer;
  font-family:"nanum";
}

button.btn_sign_in{
  background-color:black;
  color:white;
}

button.btn_back{
  background-color:white;
  border:2px solid rgb(191, 186, 186);
  color:black;
}


