/*----------------------------------------Adjust to main section : all page-----------------------------------------*/
section.sign_in_section{
  display:flex;
  width:100%;
  align-items: center;
  justify-content:center;
  margin:160px 0px;
  /* background:yellow; */
}

div.sign_in_logo{
  display:flex;
  justify-content:center;
  margin-bottom:30px;
}

div.sign_in_logo h1{
  font-size:40px;
  font-weight:800;
}

div.progress{
  margin:40px 0;
  text-align:center;
}

div.progress li{
  font-size:32px;
  font-weight:800;
  margin:0px 20px;
}

div.progress h2.progress_text{
  padding:10px;
}

div.progress h2.progress_text_forth{
  background-color:rgb(253, 166, 4);
  padding:10px;
  border-radius:5px;
}

div.success_sign_in_logo{
  display:flex;
  justify-content:center;
}

div.success_sign_in_logo img{
  width:200px;
  height:200px;
}

div.success_sign_in_message1{
  margin:50px;
  text-align:center;
}

div.success_sign_in_message1 span.success_sign_in_message1_text{
  display:block;
  font-size:1.5rem;
}

div.success_sign_in_message2{
  font-size:1.8rem;
  text-align:center;
}

span#success_sign_in_count .success_sign_in_message2_text{
  font-weight:800;
}

/*------------------------------keyframe : auto moving svg image---------------------------------*/
div.success_sign_in_logo img{
  animation:moveto 5s infinite alternate ease-in-out; /* 속도 */
}

@keyframes moveto {
 25% {
  transform:translate(0px,0px);
 }

 50% {
  transform:translate(0px,0px);
 }

 75% {
  transform:translate(1000px,0px);
 }

 100% {
  transform:translate(1000px,0px);
 }
}
