/* =========== media query (max-width: 450px), ~450 =========== */
  @media(max-width: 450px){

  }

/* =========== media query (max-width: 890px), ~890px =========== */
  @media all and (max-width:890px){

    div.sign_in_logo{
      margin:50px 0px;
    }

    div.progress ul{
      display:block;
    }
    
    div.progress li{
      display:inline-block;
      font-size:1.8rem;
      font-weight:800;
      margin:0 2.247191%;
    }    /* 여기까지가 sign in 공통부분 */

    div.success_sign_in_logo img{
      width:22.988506%;
      height:22.988506%;
    }

    div.success_sign_in_message1{
      margin:5.617978%;
    }

    div.success_sign_in_message1 span.success_sign_in_message1_text{
      font-size:1.2rem;
    }

    div.success_sign_in_message2{
      font-size:1.5rem;
    }
  }