@font-face {
    font-family: 'nanum';
    src: url('../font/NanumSquareNeo-cBd.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'nanum';
    src: url('../font/NanumSquareNeo-eHv.ttf');
    font-weight: 700;
}

@font-face{
    font-family: 'nanum';
    src: url('../font/NanumSquareNeo-dEb.ttf');
    font-weight: 500;
}

/* 전체적으로 가운데 90% 설정 */
.wrap{
    width: 90%;
    margin: 0 auto;
    font-family: 'nanum';
    /* background-color: antiquewhite; */
}

button{
    font-family: 'nanum';
    cursor: pointer;
}


/* ------ 문구 드롭다운 ------ */
/* ======================= center_drop ================== */
.center_drop{
    padding-top: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

em,.sBtn-text{
    font-size: 27px;
}

.text_area{
    width: 100%;
    height: 75px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.text_area>span, .select-menu{
    display: inline-block;
}

.text_area>span{
    display: flex;
    width:300px;
}

.text_area>em{
    padding-top: 15px;
}

.text_area>span>em{
    padding-top: 15px;
}

.select-menu{
    width: 220px;
    height: 50px;
}

.select-menu .select-btn{
    display: flex;
    width: 240px;
    height: 50px;
    font-size: 18px;
    /* border-radius: 8px; */
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border-bottom: 2px solid black;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.1); */
}

.select-btn svg{
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn svg{
    transform: rotate(-180deg);
}

.options{
    z-index: 1;
}

.select-menu .options{
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}

.select-menu.active .options{
    display: block;
}

.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    background: #fff;
}

.options .option:hover{
    background: #f2f2f2;            
}

.option .option-text{
    font-size: 18px;
    color: #333;
}

.select-menu .options{
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    background: #fff;
}

.options .option:hover{
    font-weight: 600;
    background: #f2f2f2;
}

.option .option-text{
    font-size: 18px;
    color: #333;
}

.text_area2{
    width: 100%;
    height: 75px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.drop_down_btn{
    /* padding-top: 30px; */
    width: 100%;
    height: 75px;
}
.btn-type-round{
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    min-height: 50px;
    background: black;
    cursor: pointer;
    border-radius: 12px;
}

.front_span{
    display: flex;
    width: 300px;
}

.front_span em{
    padding-top: 15px;
    padding-left: 20px;
}

.back_span{
    display: flex;
    width: 250px;
}

.text_area2>em{
    padding-top: 15px;
}
/* ======================== center_drop end ======================== */



/* 낮은 가격순 / 높은 가격순 */
.filtering{
    text-align: right;
    width: 87%;
    margin-bottom: 20px;
}
.filtering>li{
    font-size: 20px;
    display: inline-block;
    padding-right: 15px;
}

.filtering>li:hover{
    font-weight: 700;
}

/* == 목록(세로로)으로 추천 여행지 표시 == */
.travel_section{
    width: 90%;
    margin: 10px auto;
    /* height: 500px; */
    display: flex;
    padding: 15px 2%;
    border-radius: 10px;
    border: 1px solid rgb(78, 78, 78);
    
    /* background-color: rgb(216, 195, 0); */
}

.travel_section:hover{
    box-shadow: 5px 5px 5px 5px rgb(167, 167, 167);
}

/* 여행지 목록(왼쪽) 사진부분 */
.travel_section_img{
    background-size: cover;
    background-position: center center;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    width: 70%;
    margin: 10px;
    height: 350px;
    /* flex-wrap: wrap; */
}

/* .travel_section_img>img{
    width: 100%;
    height: 95%;
    margin: 10px;
    
} */

/* -- 여행지 목록(오른쪽) 상세설명 부분 -- */
.travel_section_info{
    /* position: relative; */
    width: 50%;
    /* flex-wrap: wrap; */
    /* background-color: rgb(255, 195, 255); */
    
    padding: 20px;
}

/* 목록 설명 영역_제목 */
.travel_section_info_title{
    
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* 목록 설명 영역_상세설명 */
.travel_section_info_content{
    /* position: absolute; */
    line-height: 25px;
    font-size: 18px;
    color: rgb(65, 65, 65);
    margin-bottom: 30px;
}

/* 목록 설명 영역_가격 */
.travel_section_info_price{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}


/* 일정보기 버튼 영역 */
.calendar_btn_area{
    bottom: 30px;
    right: 30px;
}

/* 일정보기 버튼 */
.calendar_btn{
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

/* 캘린더 표시 영역 */
.calendar_area{
    /* text-align: center; */
    background-color: rgb(244, 244, 244);
    width: 90%;
    margin: 20px auto;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
    display: none;
}

/* -------- 캘린더 부분 시작 -------- */

.calendar{
    width: 100%;
    /* height: 300px; */
    /* background-color: rgb(208, 208, 255); */
    margin: 20px auto;
    padding-top: 40px;
}

/* 캘린더 */
td {
    width: 50px;
    height: 50px;
}

.Calendar {
    text-align: center;
    margin: 0 auto;
}

.Calendar>thead>tr:first-child>td {
    font-weight: bold;
    font-family: 'nanum';
}

.Calendar>thead>tr:last-child>td {
    /* background-color: gray; */
    /* border-bottom: 1px solid black; */
    color: black;
}

.pastDay {
    background-color: lightgray;
}

.today {
    background-color: #FFCA64;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
}

.futureDay.choiceDay,
.today.choiceDay {
    background-color: #3E85EF;
    color: #fff;
    cursor: pointer;
}

/* -------- 캘린더 부분 끝 -------- */

.calendar_bottom{
    display: flex;
    flex-direction: column;
}
/* 캘린더 설명 */

.highlight{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 40px;
    color: red;
}

.calendar_help>.calender_help_info{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 40px;
}

/* 캘린더 상세 일정 표시 */


.schedule_calendar{
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}

/* 예약하기 버튼 */
.reservation_btn_area{
    text-align: center;
    margin-right: 10px;
}
.reservation_btn{
    width: 40%;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: black;
}

.reservation_btn:hover{
    box-shadow: 4px 4px 8px #888;
}

/* =========== media query (max-width: 450px), ~450 =========== */
@media(max-width: 450px){
    .text_area2 .select-btn {
        padding-top: 15px;
    }
    .text_area2 em{
        padding-top: 30px;
    }

    .btn-type-round{
        margin-top: 70px;
    }
}


/* =========== media query (max-width: 890px), ~890px =========== */
@media(max-width: 890px){
    .reservation_btn{
        width: 90%;
    }

    .travel_section{
        flex-direction: column;
    }
    .travel_section_img{
        height: 300px;
        width: 95%;
    }

    .travel_section_info{
        width: 90%;
        text-align: center;
    }

    .drop_down_btn{
        margin-top: 40px;
        
    }

    .btn-type-round{
        width: 80%;
    }
    
}