@font-face {
    font-family: 'nanum';
    src: url('../font/NanumSquareNeo-cBd.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'nanum';
    src: url('../font/NanumSquareNeo-eHv.ttf');
    font-weight: 700;
}
*{
    font-family: 'nanum';
}
/* ========================== top_nav ============================ */
em,span,a{
    font-family: 'nanum';
    font-weight: 400;
}

.font_black{
    color:black;
}

.font_white{
    color: white;
}

a{
    text-decoration:none;
    color: white;
}
/* 아이콘, nav 지역 설정 */
.top_text_area{
    width: 100%;
    height: 100px;
    background-color: white;
    /* position: relative; */
    z-index: 999;
    border-bottom: 1px solid black;
}

/* 아이콘 크기 설정 */
.bi-list, .bi-arrow-right-short{
    width: 40px;
    height: 40px;
    color: white;
}

/* 아이콘 위치 설정 */
.top_nav_icon_area{
    /* position: absolute; */
    top: 30px;
    left: 20px;
}

.icon{
    font-family: 'nanum';
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0px;
    color: skyblue;
}

.top_nav_icon_area>img{
    width: 30px;
    height: 30px;
    padding-top: 3px;
}

/* top nav 가로 배치 설정 */
div.top_nav{
    display: inline-block;
}

/* 국내 여행, 해외 여행, 여행 가이드 부분 */
div.top_nav_menu_area{
    /* position: absolute; */
    top: 20px;
    left: 180px;
}

div.top_nav_menu_area>ul{
    width: 300px;
    height: 30px;
    padding: 10px;
}

div.top_nav_menu_area li{
    display: inline-block;
    text-align: center;
    padding: 10px;
}

/* login_nav 부분 설정  */
div.login_nav{
    /* position: absolute; */
    right: 20px;
    top: 20px;
}

div.login_nav>ul{
    width: 400px;
    height: 30px;
    padding: 10px;
}

div.login_nav li{
    display: inline-block;
    text-align: center;
    /* margin-left: 10px; */
    padding: 10px;
}

/* ========================== top_nav 끝 ============================ */


.wrap{
    width: 90%;
    margin: 40px auto;

    /* background-color: antiquewhite; */
}

button{
    font-family: 'nanum';
    cursor: pointer;
}

.title{
    font-weight: bold;
}

.user_page{
    margin-top: 40px;
}

/* 나의 정보 title */
.user_page_title{
    /* font-family: 'recipe'; */
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

/* 예약내역 부분 */
.user_reservation_details{
    /* position: relative; */
    margin: 0 auto;
    width: 90%;
    height: 400px;
    /* background-color: rgb(255, 199, 179); */
}

/* 예약내역 title 영역 */
.user_reservation_title_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 예약내역 title */
.user_reservation_title{
    /* position: absolute; */
    font-size: 35px;
    font-weight: 0;
    /* left: 10px; */
}

/* 예약내역 더보기 버튼 */
.user_reservation_more{
    margin-top: 10px;
    cursor: pointer;
}


.user_reservation_more>a{
    color: black;
}


/* 예약내역 리스트 표시 */
.user_reservation_details_list{
    /* position: absolute; */
    width: 100%;
    height: 350px;
    bottom: 0;
    border: 1px solid gray;
    /* background-color: rgb(185, 185, 185); */
}

/* 예약내역 없을 시 */
.no_reservation{
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
}

/* 마이페이지 하단 부분 */
.user_page_bottom{
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: nowrap;
    margin-top: 40px;
    margin-bottom: 100px;
    
}

/* 문의내역 부분 */
.inquiry_details{
    /* position: relative; */
    margin-left: 4%;

    width: 45%;
    margin-bottom: 100px;
    /* height: 400px; */
    /* background-color: rgb(255, 189, 255); */
    

}
/* 문의내역 title부분 */
.inquiry_details_title_area{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 문의내역 title */
.inquiry_details_title{
    font-size: 35px;
}

/* 문의내역 더보기 버튼 */
.inquiry_details_more{
    margin-top: 10px;
    cursor: pointer;
}

.inquiry_details_more>a{
    color: black;
}

/* 문의내역 리스트 표시 */
.inquiry_details_list{
    /* position: absolute; */
    width: 100%;
    /* height: 350px; */
    bottom: 0;
    /* background-color: rgb(185, 185, 185); */
}

/* 문의내역 리스트 a */
.inquiry_details_list li>a{
    color: black;
}

/* 문의내역 리스트 각 영역별 */
.inquiry_details_list li{
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid black;
}


/* 서비스 바로가기 부분 */
.go_to_service{
    width: 45%;
    height: 400px;
    margin-left: 4%;
    /* background-color: olivedrab; */
}

/* 서비스 바로가기 title부분 */
.go_to_service_title_area{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 서비스 바로가기 title */
.go_to_service_title{
    font-size: 35px;
}

/* 서비스 더보기 버튼 */
.go_to_service_more{
    margin-top: 10px;
    cursor: pointer;
    
}

.go_to_service_more>a{
    color: black;
}

/* 관심상품 / 포인트 / 할인쿠폰 / 회원정보수정 버튼 */
.go_to_service_btn{
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* 각 버튼 */
.btn{
    font-size: 30px;
    width: 50%;
    height: 175px;
    line-height: 40px;
    background-color: white;
    border: 0.1px solid rgb(209, 209, 209);
    /* font-family: 'recipe'; */
}

.btn:hover{
    /* border: 0.5px solid black; */
    box-shadow: inset 2px 2px 10px 5px rgb(225, 225, 225);
}



/* ======================== footer ========================= */
footer{
    width: 100%;
    height: 300px;
    background-color: black;
}

.footer_top{
    width: 100%;
    height: 100px;
    text-align: center;
}

.footer_top>span{
    font-family: 'nanum';
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0px;
    color: skyblue;
}

.footer_top>img{
    width: 30px;
    height: 30px;
    padding-top: 3px;
}
.footer_bottom {
    width: 600px;
    height: 50px;
    margin: 0 auto;
}

.footer_bottom ul{
    display: flex;
    justify-content: space-between;
}

.footer_bottom li{
    display: inline-block;
    padding: 20px;
}

.footer_top {
    padding: 20px 0 20px 0;
    width: 100%;
    height: 50px;
}

.footer_sns{
    padding-top: 30px;
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

.footer_sns>.icon_area{
    display: flex;
    justify-content: space-around;
}

.footer_text_area{
    margin-top: 10px;
    text-align: center;
}
/* ======================== footer end ========================= */



/* =========== media query (max-width: 450px), ~450 =========== */
@media(max-width: 450px){
    
}



/* =========== media query (max-width: 870px), ~870px =========== */
@media (max-width: 890px){
    .wrap{
        display: flex;
        flex-direction: column;
    }

    .user_page_bottom{
        flex-direction: column;
    }

    .inquiry_details{
        width: 90%;
    }

    .go_to_service{
        width: 90%;
    }
}