@font-face {
    font-family: 'nanum';
    src: url('../font/NanumSquareNeo-cBd.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'nanum';
    src: url('../font/NanumSquareNeo-eHv.ttf');
    font-weight: 700;
}
body{
    font-family: 'nanum';
}






.wrap{
    width: 90%;
    margin: 40px auto;

    /* background-color: antiquewhite; */
}

button{
    font-family: 'nanum';
    cursor: pointer;
}

.title{
    font-weight: bold;
}

.user_page{
    margin-top: 40px;
}

/* 나의 정보 title */
.user_page_title{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

/* 예약내역 부분 */
.user_reservation_details{
    /* position: relative; */
    margin: 0 auto;
    width: 90%;
    height: 400px;
    /* background-color: rgb(255, 199, 179); */
}

/* 예약내역 title 영역 */
.user_reservation_title_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 예약내역 title */
.user_reservation_title{
    /* position: absolute; */
    font-size: 35px;
    font-weight: 0;
    /* left: 10px; */
}

/* 예약내역 더보기 버튼 */
.user_reservation_more{
    margin-top: 10px;
    cursor: pointer;
}


.user_reservation_more>a{
    color: black;
}


/* 예약내역 리스트 표시 */
.user_reservation_details_list{
    /* position: absolute; */
    width: 100%;
    height: 350px;
    bottom: 0;
    border: 1px solid gray;
    /* background-color: rgb(185, 185, 185); */
}

/* 예약내역 없을 시 */
.no_reservation{
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
}

/* 마이페이지 하단 부분 */
.user_page_bottom{
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: nowrap;
    margin-top: 40px;
    margin-bottom: 100px;
    
}

/* 문의내역 부분 */
.inquiry_details{
    /* position: relative; */
    margin-left: 4%;

    width: 45%;
    margin-bottom: 100px;
    /* height: 400px; */
    /* background-color: rgb(255, 189, 255); */
    

}
/* 문의내역 title부분 */
.inquiry_details_title_area{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 문의내역 title */
.inquiry_details_title{
    font-size: 35px;
}

/* 문의내역 더보기 버튼 */
.inquiry_details_more{
    margin-top: 10px;
    cursor: pointer;
}

.inquiry_details_more>a{
    color: black;
}

/* 문의내역 리스트 표시 */
.inquiry_details_list{
    /* position: absolute; */
    width: 100%;
    /* height: 350px; */
    bottom: 0;
    /* background-color: rgb(185, 185, 185); */
}

/* 문의내역 리스트 a */
.inquiry_details_list li>a{
    color: black;
}

/* 문의내역 리스트 각 영역별 */
.inquiry_details_list li{
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid black;
}


/* 서비스 바로가기 부분 */
.go_to_service{
    width: 45%;
    height: 400px;
    margin-left: 4%;
    /* background-color: olivedrab; */
}

/* 서비스 바로가기 title부분 */
.go_to_service_title_area{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 서비스 바로가기 title */
.go_to_service_title{
    font-size: 35px;
}

/* 서비스 더보기 버튼 */
.go_to_service_more{
    margin-top: 10px;
    cursor: pointer;
    
}

.go_to_service_more>a{
    color: black;
}

/* 관심상품 / 포인트 / 할인쿠폰 / 회원정보수정 버튼 */
.go_to_service_btn{
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* 각 버튼 */
.btn{
    font-size: 30px;
    width: 50%;
    height: 175px;
    line-height: 40px;
    background-color: white;
    border: 0.1px solid rgb(209, 209, 209);
}

.btn:hover{
    /* border: 0.5px solid black; */
    box-shadow: inset 2px 2px 10px 5px rgb(225, 225, 225);
}



/* =========== media query (max-width: 870px), ~870px =========== */
@media (max-width: 890px){
    .wrap{
        display: flex;
        flex-direction: column;
    }

    .user_page_bottom{
        flex-direction: column;
    }

    .inquiry_details{
        width: 90%;
    }

    .go_to_service{
        width: 90%;
    }
}